<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [fixedInViewport]=true>
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/first-page">First Page</a>
      <a mat-list-item href="/second-page">Second Page</a>
      <a mat-list-item href="/third-page">Third Page</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button (click)="sidenav.toggle()" mat-icon-button type="button" class="mx-2 mr-2" > <mat-icon style="user-focus: outline:none">menu</mat-icon> </button>
      <span>Dashboard</span>
    </mat-toolbar>
    <!-- Router Outlet means that all navigable links go through this outlet -->

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

