<!--<div class="grid-container">-->
  <!--<h1 class="mat-h1">Dashboard</h1>-->
  <!--<mat-grid-list cols="4" rowHeight="320px">-->
    <!--<mat-grid-tile [colspan]="1" [rowspan]="1" >-->
      <!--<mat-card class="dashboard-card">-->
        <!--<mat-card-header>-->
          <!--<mat-card-header>-->
            <!--<mat-card-title>-->
              <!--Main Camera-->
              <!--<button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">-->
                <!--<mat-icon>more_vert</mat-icon>-->
              <!--</button>-->
              <!--<mat-menu #menu="matMenu" xPosition="before">-->
                <!--<button mat-menu-item>Expand</button>-->
                <!--<button mat-menu-item>Remove</button>-->
              <!--</mat-menu>-->
            <!--</mat-card-title>-->
          <!--</mat-card-header>-->
        <!--</mat-card-header>-->
        <!--<mat-card-content class="dashboard-card-content">-->
          <!--<mat-grid-list cols="3" rowHeight="30px">-->
            <!--<mat-grid-tile [colspan]="1" [rowspan]="1">-->
              <!--<mat-card-actions>-->
                <!--<button mat-button>Test</button>-->
              <!--</mat-card-actions>-->
            <!--</mat-grid-tile>-->
            <!--<mat-grid-tile [colspan]="1" [rowspan]="1">-->
              <!--<mat-card-actions>-->
                <!--<button mat-button>Test</button>-->
              <!--</mat-card-actions>-->
            <!--</mat-grid-tile>-->
            <!--<mat-grid-tile [colspan]="1" [rowspan]="1">-->
              <!--<mat-card-actions>-->
                <!--<button mat-button>Test</button>-->
              <!--</mat-card-actions>-->
            <!--</mat-grid-tile>-->
          <!--</mat-grid-list>-->
        <!--</mat-card-content>-->
      <!--</mat-card>-->
    <!--</mat-grid-tile>-->
    <!--<mat-grid-tile>-->
      <!--<mat-card class="example-card">-->
        <!--<mat-card-actions>-->
          <!--<button mat-button>LIKE</button>-->
          <!--<button mat-button>SHARE</button>-->
        <!--</mat-card-actions>-->
      <!--</mat-card>-->
    <!--</mat-grid-tile>-->
  <!--</mat-grid-list>-->
<!--</div>-->

<mat-grid-list cols="4" rowHeight="320px">
  <mat-grid-tile [colspan]="1" [rowspan]="1" class="m-5">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          Main Camera
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
            <button mat-menu-item>Remove</button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <!--<button mat-raised-button>Basic</button>-->
      <!--<button mat-raised-button color="primary">Primary</button>-->
      <!--<button mat-raised-button color="accent">Accent</button>-->
      <!--<button mat-raised-button color="warn">Warn</button>-->
      <!--<button mat-raised-button disabled>Disabled</button>-->
      <!--<a mat-raised-button routerLink=".">Link</a>-->
      <mat-grid-list cols="3" rowHeight="1.5:1" class="camera-buttons">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card-actions>
            <button mat-raised-button color="primary" class="pt-1">
              <h5>Camera 1</h5>
            </button>
          </mat-card-actions>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card-actions>
            <button mat-raised-button color="primary" class="pt-1">
              <h5>Camera 1</h5>
            </button>
          </mat-card-actions>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card-actions>
            <button mat-raised-button color="primary" class="pt-1">
              <h5>Camera 1</h5>
            </button>
          </mat-card-actions>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

