 // Import Theming.scss from node/modules
@import "../node_modules/@angular/material/theming";

// Import mat-core for all conversion functions

@include mat-core();

 // Define theme primary, accent, and warning colors
 // Color Variables are taken from theming.scss or material colors

$rovotics-theme-primary: mat-palette($mat-cyan);
$rovotics-theme-accent: mat-palette($mat-cyan, A200, A100, A400);
$rovotics-theme-warn: mat-palette($mat-red);

// Import Theme into Angular Material
$rovotics-theme: mat-dark-theme($rovotics-theme-primary, $rovotics-theme-accent, $rovotics-theme-warn);

 // Merges this style with default theme
 @include angular-material-theme($rovotics-theme)
